.container {
    -fx-background-color: #D9D9D9; /* 추후 제거 */
}

.login_title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

#idField {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

#passwordField {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

.Login_page_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
}

.goBackBtn1 {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.loginBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.goBackBtn1:hover {
    -fx-background-color: #EA8ABE;
}

.loginBtn:hover {
    -fx-background-color: #EA8ABE;
}