.container {
    -fx-background-color: #D9D9D9; /* 추후 제거 */
}

.Btn {
    -fx-spacing: 50;
}

.memberManagementBtn, .trainerManagementBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
}

.logOutBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 120;
    -fx-pref-height: 40;
}

.memberManagementBtn:hover, .trainerManagementBtn:hover, .logOutBtn:hover {
    -fx-background-color: #EA8ABE;
}

