/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF; /* 배경색 지정 */
}


/* Title */
.login_title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

/* TextField */
.Login_idInput, .Login_passwordInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* Button */
.Login_page_Btn {
     -fx-font-family: "Jua";
     -fx-spacing: 50;
}

.Login_loginBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.Login_goBackBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.Login_goBackBtn:hover, .Login_loginBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE #EA8ABE #EA8ABE;
}

.Login_goBackBtn:pressed, .Login_loginBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE #EA8ABE #EA8ABE;
}

