.dialog-pane {
    -fx-background-color: rgba(151, 71, 255, 0.07);
    -fx-pref-height: 400;
    -fx-pref-width: 400;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: #000000;
    -fx-font-family: "Jua";
    -fx-alignment: CENTER;
}

.reservation_trainerName, .reservation_reservationDateTime, .reservation_reservationCount {
    -fx-text-fill: #9747FF;
}

.payment_gymTicket, .payment_PTTicket, .payment_Locker, .payment_Clothes, .payment_TotalPrice {
    -fx-text-fill: #9747FF;
}

.button {
    -fx-background-color: #9747FF;
    -fx-font-family: "Jua";
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 20;
    -fx-min-width: 90;
    -fx-max-width: 150;
    -fx-translate-x: -97;
    -fx-translate-y: -15;
}

.button:hover {
    -fx-background-color: #EA8ABE;
    -fx-cursor: hand;
}