.title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

.subtitle_label {
    -fx-font-size: 36;
    -fx-font-family: "Anton";
}

.split_title_1, .split_title_2 {
    -fx-font-size: 36;
    -fx-font-family: "Jua";
}
