AnchorPane {
    -fx-background-color: #ffffff;
}

Label {
    -fx-font-size: 14px; /* 폰트 크기 지정 */
    -fx-text-fill: #333333; /* 텍스트 색상 지정 */
}

Button {
    -fx-pref-width: 110px; /* 너비 지정 */
    -fx-pref-height: 55px; /* 높이 지정 */
    -fx-font-size: 18px; /* 폰트 크기 지정 */
    -fx-background-color: #9747FF; /* 배경색 지정 */
    -fx-text-fill: #ffffff; /* 텍스트 색상 지정 */
    -fx-border-color: transparent; /* 테두리 색상 투명으로 설정 */
    -fx-border-radius: 5px; /* 테두리 모서리 반지름 지정 */
}

/* Button 마우스 호버 스타일 */
Button:hover {
    -fx-background-color: #EA8ABE; /* 호버 시 배경색 변경 */
}

/* Button 마우스 클릭 스타일 */
Button:pressed {
    -fx-background-color: #EA8ABE; /* 클릭 시 배경색 변경 */
}

#entry {
    -fx-background-color: #DE14FF;
}

.helloInfo {
    -fx-font-size: 16px;
}

#entry:hover {
    -fx-background-color: #EA8ABE;
}