.empty{
    -fx-background-color: #424242;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.iMino{
    -fx-background-color: #009fda;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.oMino{
    -fx-background-color: #fecb00;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.zMino{
    -fx-background-color: #ed2939;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.sMino{
    -fx-background-color: #69be28;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.jMino{
    -fx-background-color: #0065bd;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.lMino{
    -fx-background-color: #ff7900;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.tMino{
    -fx-background-color: #952d98;
    -fx-text-fill: transparent;
    -fx-border-color: gray;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}