.dialog-pane {
    -fx-background-color: #F0F0F0;
}

/* TableView Cell */
.table-view .table-cell {
    -fx-font-family: "Jua";
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

/* TableView Header */
.table-view .column-header-background .label {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

/* Header Background-Color */
.table-view .column-header {
    -fx-background-color: #9747FF;
}

/* Header Border */
.table-view .column-header, .table-view .filler {
    -fx-border-color: #9747FF;
    -fx-border-width: 0 0 2 0;
}

/* Header Line */
.table-view .column-header {
    -fx-border-color: transparent transparent #FFFFFF #FFFFFF; /* 아래쪽과 오른쪽 경계선 색상 설정 */
    -fx-border-width: 0 0 2 1; /* 아래쪽 경계선 두께 2, 오른쪽 경계선 두께 1 */
}

/* Arrow Button Background-Color */
.table-view .column-header .arrow-button {
    -fx-background-color: #9747FF; /* 화살표 버튼 배경색도 헤더 배경색과 동일하게 설정 */
}

/* Arrow Button Color */
.table-view .column-header .arrow {
    -fx-background-color: #ffffff; /* 화살표 색상 변경 */
}

/* Ascending Arrow Button */
.table-view .column-header .arrow-button .arrow {
    -fx-shape: "M0,0 L1,0 L0.5,1 Z"; /* 오름차순 화살표 모양 */
}

/* Descending Arrow Button */
.table-view .column-header:descending .arrow-button .arrow {
    -fx-shape: "M0,1 L1,1 L0.5,0 Z"; /* 내림차순 화살표 모양 */
}

/* Close Button */
.closeBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 40;
    -fx-pref-height: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.closeBtn:hover {
    -fx-background-color: #EA8ABE;
}

.closeBtn:pressed {
    -fx-background-color: #EA8ABE;
}
