/* Tab */
/* 선택된 Tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected,
.tab-pane .tab:selected {
    -fx-background-color: #9747FF;
    -fx-border-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* 선택된 Tab Hover */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected:hover,
.tab-pane .tab:selected:hover {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE transparent #EA8ABE;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5;
}

/* 선택되지 않은 Tab */
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #BAA6FF;
    -fx-border-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* 선택되지 않은 Tab Hover */
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE transparent #EA8ABE;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5;
}

.memberInfo_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 178;
    -fx-pref-height: 30;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-padding: 0 50 0 55; /* 상단, 우측, 하단, 좌측 패딩 */
}

.trainerInfo_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 178;
    -fx-pref-height: 30;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-padding: 0 50 0 45; /* 상단, 우측, 하단, 좌측 패딩 */
}

/* VBox */
SplitPane {
    -fx-background-color: #FFFFFF;
}

/* SplitPane */
.split-pane-divider {
    -fx-background-color: #C4A3FF; /* 분할선의 색상 변경 */
    -fx-border-color: transparent; /* 분할선의 테두리 색상 변경 */
    -fx-padding: 0.5px; /* 분할선의 너비 변경 */
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: #C4A3FF;
}

.scroll-bar:vertical {
    -fx-pref-width: 7px;
}

.scrol-bar:horizontal {
    -fx-pref-width: 7px;
}

.scroll-bar .thumb {
    -fx-background-color: #DABDFF;
    -fx-background-insets: 2, 2, 2;
    -fx-background-radius: 5;
}

.scroll-bar .track {
    -fx-background-color: #C4A3FF;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #DABDFF;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #FFFFFF;
}

/* Title */
.memberInfo_title_1, .memberInfo_title_2 {
    -fx-font-size: 36;
    -fx-font-family: "Jua";
}

.trainerInfo_title_2 {
    -fx-translate-y: -20;
}

/* TextField */
.memberInfo_nameInput, .memberInfo_phoneInput, .memberInfo_emailInput, .memberInfo_birthInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* Button */
.memberInfo_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
}

.memberInfo_addMemberBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.memberInfo_goBackBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.memberInfo_addMemberBtn:hover, .memberInfo_goBackBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.memberInfo_addMemberBtn:pressed, .memberInfo_goBackBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

/* Radio Button */
.memberInfo_sex_radioBtn_title {
    -fx-font-family: "Jua";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.memberInfo_sex_radioBtn_1, .memberInfo_sex_radioBtn_2 {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

/* Radio Button Non-selected 상태 색상 변경 */
.memberInfo_sex_radioBtn_1 .radio,
.memberInfo_sex_radioBtn_2 .radio {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.memberInfo_sex_radioBtn_1 .radio:hover,
.memberInfo_sex_radioBtn_2 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.memberInfo_sex_radioBtn_1:selected .radio,
.memberInfo_sex_radioBtn_2:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.memberInfo_sex_radioBtn_1:selected .radio:hover,
.memberInfo_sex_radioBtn_2:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.memberInfo_sex_radioBtn_1:selected .dot,
.memberInfo_sex_radioBtn_2:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* Table */
.memberInfo_LockerSearchBox {
    -fx-padding: 0 15 10 0;
}

.memberInfo_searchInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-font-size: 14;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-prompt-text-fill: #999999;
}

.memberInfo_searchBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.memberInfo_searchBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.memberInfo_searchBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.memberInfo_numColumn, .memberInfo_nameColumn, .memberInfo_genderColumn,
.memberInfo_emailColumn, .memberInfo_birthColumn, .memberInfo_phoneColumn,
.memberInfo_enrollColumn, .memberInfo_chooseColumn {
    -fx-font-family: "Jua";
}

.memberInfo_chooseColumn {
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
}

.memberInfo_numColumn {
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_nameColumn {
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_genderColumn {
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_emailColumn {
    -fx-pref-width: 160;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_birthColumn {
    -fx-pref-width: 119;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_phoneColumn {
    -fx-pref-width: 130;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_enrollColumn {
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

/* TableView 헤더 스타일 */
.table-view .column-header-background .label {
    -fx-background-color: #9747FF;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

/* 헤더 배경색 변경 */
.table-view .column-header {
    -fx-background-color: #9747FF;
}

/* 헤더의 테두리 변경 */
.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent transparent #9747FF transparent;
    -fx-border-width: 0 0 2 0;
}

/* 컬럼 헤더들 사이의 경계선 추가 */
.table-view .column-header {
    -fx-border-color: transparent transparent #FFFFFF #FFFFFF; /* 아래쪽과 오른쪽 경계선 색상 설정 */
    -fx-border-width: 0 0 2 1; /* 아래쪽 경계선 두께 2, 오른쪽 경계선 두께 1 */
}

/* 화살표 버튼 배경색 변경 */
.table-view .column-header .arrow-button {
    -fx-background-color: #9747FF; /* 화살표 버튼 배경색도 헤더 배경색과 동일하게 설정 */
}

/* 정렬 화살표 스타일 */
.table-view .column-header .arrow {
    -fx-background-color: #FFFFFF; /* 화살표 색상 변경 */
}

/* 오름차순 화살표 스타일 */
.table-view .column-header .arrow-button .arrow {
    -fx-shape: "M0,0 L1,0 L0.5,1 Z"; /* 오름차순 화살표 모양 */
}

/* 내림차순 화살표 스타일 */
.table-view .column-header:descending .arrow-button .arrow {
    -fx-shape: "M0,1 L1,1 L0.5,0 Z"; /* 내림차순 화살표 모양 */
}

.check-box:selected .mark {
    -fx-background-color: #9747FF;
}

.memberInfo_subBtn {
    -fx-padding: 10 15 0 0;
}

.memberInfo_deleteBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.memberInfo_lockerBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-translate-x: -460;
}

.table-view .table-cell {
    -fx-font-family: "Jua";
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.memberInfo_refreshBox {
    -fx-padding: 0 25 5 0;
}

.memberInfo_refreshBtn {
    /*-fx-font-family: "Jua";*/
    /*-fx-background-color: #DE14FF;*/
    /*-fx-text-fill: #FFFFFF;*/
    /*-fx-font-size: 16;*/
    /*-fx-pref-width: 80;*/
    /*-fx-pref-height: 30;*/
    /*-fx-border-color: transparent;*/
    /*-fx-border-radius: 5;*/
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.memberInfo_refreshBtn:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
}

.memberInfo_lockerBtn:hover, .memberInfo_deleteBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.memberInfo_lockerBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}
