/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF;
}

.helloMember_VBox {
    -fx-translate-y: -50;
}

/* Title */
.helloMember_title {
    -fx-font-size: 84;
    -fx-font-family: "Anton";
}

/* Label */
.helloMember_PT_InfoTitle, .helloMember_GYM_InfoTitle {
    -fx-text-fill: #9747FF;
    -fx-font-size: 28;
    -fx-font-family: "Jua";
}

.helloMember_PT_Info, .helloMember_Name_Info, .helloMember_GYM_Info {
    -fx-font-size: 28;
    -fx-font-family: "Jua";
}

.helloMember_PT_InfoTitle, .helloMember_PT_Info {
    -fx-translate-x: 70;
}

.helloMember_Name_Info {
    -fx-translate-x: 120;
}

.helloMember_GYM_InfoTitle, .helloMember_GYM_Info {
    -fx-translate-x: 145;
}

/* Button */
.helloMember_Btn {
    -fx-font-family: "Jua";
}

.helloMember_TopBtn {
    -fx-font-family: "Jua";
    -fx-padding: 0 20 0 0;
    -fx-translate-y: 17;
}

.helloMember_CallIcon {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-translate-x: -360;
}

.helloMember_myPageIcon, .helloMember_logOutIcon {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.helloMember_myPageIcon:hover, .helloMember_logOutIcon:hover, .helloMember_CallIcon:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0, 0, 0);
}

.helloMember_reservationBtn, .helloMember_purchaseBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.helloMember_entryBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.helloMember_reservationBtn:hover, .helloMember_purchaseBtn:hover, .helloMember_entryBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.helloMember_reservationBtn:pressed, .helloMember_purchaseBtn:pressed, .helloMember_entryBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}



