/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF;
}

/* Title */
.hello_title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

/* Label */
.Hello_PT_Info, .Hello_Name_Info, .Hello_GYM_Info {
    -fx-font-size: 20;
    -fx-font-family: "Jua";
}

.Hello_PT_Info {
    -fx-translate-x: 45;
}

.Hello_Name_Info {
    -fx-translate-x: 40;
}

.Hello_GYM_Info {
    -fx-translate-x: 55;
}

/* Button */
.Hello_page_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
}

.Hello_page_TopBtn {
    -fx-font-family: "Jua";
    -fx-padding: 10 10 0 0;
}

.reservationBtn, .purchaseBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.entryBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
}

.reservationBtn:hover, .purchaseBtn:hover, .entryBtn:hover {
    -fx-background-color: #F4B6FF;
}

.reservationBtn:pressed, .purchaseBtn:pressed, .entryBtn:pressed {
    -fx-background-color: #F4B6FF;
}


.Hello_myPageIcon, .Hello_logOutIcon {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
        -fx-border-width: 1;
        -fx-border-style: solid;
        -fx-border-radius: 5;
}

.Hello_myPageIcon:hover, .Hello_logOutIcon:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0, 0, 0);
}
