/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF;
}

/* Title */
.payment_Title {
    -fx-font-size: 64;
    -fx-font-family: "Anton";
}

/* Login Member */
.payment_Member {
    -fx-font-size: 28;
    -fx-font-family: "NanumGothic";
    -fx-translate-y: -15;
}

/* Item & Value */
.payment_ItemInfo_GYMBundle {
   -fx-background-color: #F4F5F7;
   -fx-border-color: black;
   -fx-border-width: 1;
   -fx-pref-height: 30;
}

.payment_ItemGYM {
    -fx-translate-y: 45;
}

.payment_ItemType {
    -fx-font-size: 32;
    -fx-text-fill: #9747FF;
    -fx-font-family: "Jua";
}

.payment_ItemValue {
    -fx-font-size: 32;
    -fx-font-family: "Jua";
}

.payment_ItemETC {
    -fx-translate-y: -45;
}

/* Tab */
.paymentGYM_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 206;
    -fx-pref-height: 60;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 50 0 62;
}

.tab-pane .paymentGYM_Tab .tab-label {
    -fx-font-size: 22;
}

.paymentPT_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 206;
    -fx-pref-height: 60;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 50 0 82;
}

.tab-pane .paymentPT_Tab .tab-label {
    -fx-font-size: 22;
}

.paymentETC_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 206;
    -fx-pref-height: 60;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 50 0 80;
}

.tab-pane .paymentETC_Tab .tab-label {
    -fx-font-size: 22;
}

.tab-header-background {
    -fx-background-color: #D9D9D9;
}

/* Split Line */
.paymentGYM_FirstLine {
    -fx-pref-width: 650;
    -fx-pref-height: 0.8;
    -fx-background-color: black;
    -fx-translate-y: -20;
}

.paymentGYM_SecondLine {
    -fx-pref-width: 650;
    -fx-pref-height: 0.8;
    -fx-background-color: black;
    -fx-translate-y: -25;
}

.paymentETC_FirstLine {
    -fx-pref-width: 650;
    -fx-pref-height: 0.8;
    -fx-background-color: black;
    -fx-translate-y: 30;
}

/* Gym Ticket */
/* Radio Button */
.paymentGYM_Day_radioBtn_Title, .paymentGYM_Days_radioBtn_Title {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 22;
    -fx-text-fill: #676767;
    -fx-translate-x: -270;
    -fx-translate-y: -20;
}

.paymentGYM_NonSelected_radioBtn {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 240;
    -fx-translate-y: -30;
}

.paymentGYM_Day_radioBtn, .paymentGYM_Day_radioBtn_Text {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 200;
    -fx-translate-y: -30;
}

.paymentGYM_Days_radioBtn_1, .paymentGYM_Days_radioBtn_Text_1 {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 55;
    -fx-translate-y: -10;
}

.paymentGYM_Days_radioBtn_2, .paymentGYM_Days_radioBtn_Text_2 {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 55;
    -fx-translate-y: -10;
}

.paymentGYM_Days_radioBtn_3, .paymentGYM_Days_radioBtn_Text_3 {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 55;
    -fx-translate-y: -10;
}

.paymentGYM_Days_radioBtn_4, .paymentGYM_Days_radioBtn_Text_4 {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-translate-x: 55;
    -fx-translate-y: -10;
}

.paymentGYM_Day_radioBtn,
.paymentGYM_Days_radioBtn_1,
.paymentGYM_Days_radioBtn_2,
.paymentGYM_Days_radioBtn_3,
.paymentGYM_Days_radioBtn_4 {
    -fx-text-fill: #9747FF;
}

/* Radio Button Non-selected 상태 색상 변경 */
.paymentGYM_NonSelected_radioBtn .radio,
.paymentGYM_Day_radioBtn .radio,
.paymentGYM_Days_radioBtn_1 .radio,
.paymentGYM_Days_radioBtn_2 .radio,
.paymentGYM_Days_radioBtn_3 .radio,
.paymentGYM_Days_radioBtn_4 .radio {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.paymentGYM_NonSelected_radioBtn .radio:hover,
.paymentGYM_Day_radioBtn .radio:hover,
.paymentGYM_Day_radioBtn .radio:hover,
.paymentGYM_Days_radioBtn_1 .radio:hover,
.paymentGYM_Days_radioBtn_2 .radio:hover,
.paymentGYM_Days_radioBtn_3 .radio:hover,
.paymentGYM_Days_radioBtn_4 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.paymentGYM_NonSelected_radioBtn:selected .radio,
.paymentGYM_Day_radioBtn:selected .radio,
.paymentGYM_Days_radioBtn_1:selected .radio,
.paymentGYM_Days_radioBtn_2:selected .radio,
.paymentGYM_Days_radioBtn_3:selected .radio,
.paymentGYM_Days_radioBtn_4:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.paymentGYM_NonSelected_radioBtn:selected .radio:hover,
.paymentGYM_Day_radioBtn:selected .radio:hover,
.paymentGYM_Days_radioBtn_1:selected .radio:hover,
.paymentGYM_Days_radioBtn_2:selected .radio:hover,
.paymentGYM_Days_radioBtn_3:selected .radio:hover,
.paymentGYM_Days_radioBtn_4:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.paymentGYM_NonSelected_radioBtn:selected .dot,
.paymentGYM_Day_radioBtn:selected .dot,
.paymentGYM_Days_radioBtn_1:selected .dot,
.paymentGYM_Days_radioBtn_2:selected .dot,
.paymentGYM_Days_radioBtn_3:selected .dot,
.paymentGYM_Days_radioBtn_4:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* PT Ticket */
.paymentPT_FirstSelectTrainer_Text {
    -fx-font-family: "Jua";
    -fx-font-size: 32;
    -fx-translate-y: -180;
}

.paymentPT_SelectTrainerBtn {
    -fx-font-family: "Jua";
    -fx-font-size: 18;
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5;
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-translate-y: -180;
}

.paymentPT_ImageBox {
    -fx-translate-x: 10;
    -fx-translate-y: 50;
}

.paymentPT_ImageContainer {
    -fx-background-color: #F4F5F7;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-translate-x: 40;
    -fx-translate-y: 20;
}

.paymentPT_UpdateTrainerBtn {
    -fx-font-family: "Jua";
    -fx-font-size: 18;
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5;
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-translate-x: 50;
    -fx-translate-y: 25;
}

.paymentPT_SelectTrainerBtn:hover, .paymentPT_UpdateTrainerBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.paymentPT_SelectTrainerBtn:pressed, .paymentPT_UpdateTrainerBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.paymentPT_TrainerInfo {
    -fx-font-family: "Jua";
    -fx-font-size: 28;
    -fx-translate-x: 70;
    -fx-translate-y: -225;
    -fx-spacing: 10;
    -fx-background-color: #F4F5F7;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.paymentPT_TrainerName {
    -fx-text-fill: #9747FF;
}

.paymentPT_GridPane {
    -fx-translate-x: 50;
    -fx-translate-x: 70;
    -fx-translate-y: -300;
}

/* Radio Button */
.paymentPT_NonSelected_radioBtn,
.paymentPT_radioBtn_1, .paymentPT_radioBtn_Text_1,
.paymentPT_radioBtn_2, .paymentPT_radioBtn_Text_2,
.paymentPT_radioBtn_3, .paymentPT_radioBtn_Text_3 {
    -fx-font-family: "Jua";
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.paymentPT_radioBtn_1, .paymentPT_radioBtn_2, .paymentPT_radioBtn_3 {
    -fx-text-fill: #9747FF;
}

/* Radio Button Non-selected 상태 색상 변경 */
.paymentPT_NonSelected_radioBtn .radio,
.paymentPT_radioBtn_1 .radio,
.paymentPT_radioBtn_2 .radio,
.paymentPT_radioBtn_3 .radio {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.paymentPT_NonSelected_radioBtn .radio:hover,
.paymentPT_radioBtn_1 .radio:hover,
.paymentPT_radioBtn_2 .radio:hover,
.paymentPT_radioBtn_3 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.paymentPT_NonSelected_radioBtn:selected .radio,
.paymentPT_radioBtn_1:selected .radio,
.paymentPT_radioBtn_2:selected .radio,
.paymentPT_radioBtn_3:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.paymentPT_NonSelected_radioBtn:selected .radio:hover,
.paymentPT_radioBtn_1:selected .radio:hover,
.paymentPT_radioBtn_2:selected .radio:hover,
.paymentPT_radioBtn_3:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.paymentPT_NonSelected_radioBtn:selected .dot,
.paymentPT_radioBtn_1:selected .dot,
.paymentPT_radioBtn_2:selected .dot,
.paymentPT_radioBtn_3:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* ETC (Locker & Clothes) */
.paymentETC_Locker_Title {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 22;
    -fx-text-fill: #676767;
    -fx-translate-x: 20;
    -fx-translate-y: 10;

}

.paymentETC_Clothes_Title {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 22;
    -fx-text-fill: #676767;
    -fx-translate-x: 20;
    -fx-translate-y: 35;
}

.paymentETC_NoSelectLocker {
    -fx-font-family: "Jua";
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-translate-x: 255;
}

.paymentETC_SelectLockerBtn_1 {
    -fx-font-family: "Jua";
    -fx-font-size: 18;
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-translate-x: 350;
}

.paymentETC_LockerNum, .paymentETC_LockerPeriod, .paymentETC_LockerPrice {
    -fx-font-family: "Jua";
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-translate-x: 50;
}

.paymentETC_SelectLockerBtn_2 {
    -fx-font-family: "Jua";
    -fx-font-size: 18;
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-translate-x: -10;
}

.paymentETC_SelectLockerBtn_1:hover, .paymentETC_SelectLockerBtn_2:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.paymentETC_SelectLockerBtn_1:pressed, .paymentETC_SelectLockerBtn_2:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

/* Radio Button */
.paymentETC_NoSelectClothes {
    -fx-translate-x: 240;
    -fx-translate-y: 30;

}

.paymentETC_GridPane {
    -fx-font-family: "Jua";
    -fx-translate-x: 80;
    -fx-translate-y: 50;
}

.paymentETC_NoSelectClothes {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

.paymentETC_Days_Clothes_radioBtn_1, .paymentETC_Clothes_radioBtn_Text_1,
.paymentETC_Days_Clothes_radioBtn_2, .paymentETC_Clothes_radioBtn_Text_2,
.paymentETC_Days_Clothes_radioBtn_3, .paymentETC_Clothes_radioBtn_Text_3,
.paymentETC_Days_Clothes_radioBtn_4, .paymentETC_Clothes_radioBtn_Text_4 {
    -fx-font-family: "Jua";
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

.paymentETC_Days_Clothes_radioBtn_1, .paymentETC_Days_Clothes_radioBtn_2,
.paymentETC_Days_Clothes_radioBtn_3, .paymentETC_Days_Clothes_radioBtn_4 {
    -fx-text-fill: #9747FF;
}

/* Radio Button Non-selected 상태 색상 변경 */
.paymentETC_NoSelectClothes .radio,
.paymentETC_Days_Clothes_radioBtn_1 .radio,
.paymentETC_Days_Clothes_radioBtn_2 .radio,
.paymentETC_Days_Clothes_radioBtn_3 .radio,
.paymentETC_Days_Clothes_radioBtn_4 .radio {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.paymentETC_NoSelectClothes .radio:hover,
.paymentETC_Days_Clothes_radioBtn_1 .radio:hover,
.paymentETC_Days_Clothes_radioBtn_2 .radio:hover,
.paymentETC_Days_Clothes_radioBtn_3 .radio:hover,
.paymentETC_Days_Clothes_radioBtn_4 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.paymentETC_NoSelectClothes:selected .radio,
.paymentETC_Days_Clothes_radioBtn_1:selected .radio,
.paymentETC_Days_Clothes_radioBtn_2:selected .radio,
.paymentETC_Days_Clothes_radioBtn_3:selected .radio,
.paymentETC_Days_Clothes_radioBtn_4:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.paymentETC_NoSelectClothes:selected .radio:hover,
.paymentETC_Days_Clothes_radioBtn_1:selected .radio:hover,
.paymentETC_Days_Clothes_radioBtn_2:selected .radio:hover,
.paymentETC_Days_Clothes_radioBtn_3:selected .radio:hover,
.paymentETC_Days_Clothes_radioBtn_4:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.paymentETC_NoSelectClothes:selected .dot,
.paymentETC_Days_Clothes_radioBtn_1:selected .dot,
.paymentETC_Days_Clothes_radioBtn_2:selected .dot,
.paymentETC_Days_Clothes_radioBtn_3:selected .dot,
.paymentETC_Days_Clothes_radioBtn_4:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* Cart */
.payment_SelectedGymTicket, .payment_SelectedPTTicket,
.payment_SelectedLockerTicket, .payment_SelectedClothesTicket {
    -fx-font-family: "Jua";
    -fx-pref-width: 162.5;
    -fx-pref-height: 150;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1 0.5;
    -fx-border-style: solid;
    -fx-translate-y: -30;
}

.payment_Cart_GymTitle, .payment_Cart_PTTitle,
.payment_Cart_LockerTitle, .payment_Cart_ClothesTitle {
    -fx-font-size: 24;
}

.payment_GymType, .payment_TrainerName,
.payment_LockerNum, .payment_ClothesSize {
    -fx-font-size: 16;
}

.payment_Cart_GymInfo, .payment_Cart_PTInfo,
.payment_Cart_LockerInfo, .payment_Cart_ClothesInfo {
    -fx-alignment: CENTER;
    -fx-font-size: 18;
}

.payment_Cart_GymPeriod, .payment_Cart_PTPeriod,
.payment_Cart_LockerPeriod, .payment_Cart_ClothesPeriod {
    -fx-text-fill: #9747FF;
}

/* Total Price */
.payment_TotalPrice_Box {
    -fx-font-size: 28;
    -fx-font-family: "Jua";
    -fx-translate-x: -10;
    -fx-translate-y: -30;
}

.payment_TotalPrice {
    -fx-text-fill: #9747FF;
}

/* Button */
.payment_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
    -fx-translate-y: -50;
}

.payment_purchaseBtn {
    -fx-font-size: 18;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5;
}

.payment_CancelBtn {
    -fx-font-size: 18;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5;
}

.payment_purchaseBtn:hover, .payment_CancelBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.payment_purchaseBtn:pressed, .payment_CancelBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}