/* jihun  + mintaek */
/* Label 스타일 */

Button {
    -fx-pref-width: 70px;
    -fx-pref-height: 30px;
    -fx-font-size: 18px;
    -fx-background-color: #9747FF;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #EA8ABE;
}

.textMain {
    -fx-translate-x: 60px;
}

#home {
    -fx-font-size: 15px;
    -fx-padding: 0 15 0 0;
}

.trainerInfoView {
    -fx-translate-y: -50px;
}

.trainerProfile {
    -fx-font-size: 20px;
    -fx-padding: 20 0 0 0;
}

.moveMainPage2 {
    -fx-padding: 0 20 0 0;

}

.title_label {
    -fx-padding: 0 45 20 0;
    -fx-translate-x: 10px;
}

.imageProfile {
    -fx-padding: 0 0 0 50;
}

/*.ticketSelectHeader{*/
/*    -fx-pref-width: 400;*/
/*    -fx-background-color: transparent;*/
/*    -fx-font-size: 15px;*/
/*    -fx-text-fill: #333333;*/
/*    -fx-pref-height: 50;*/
/*    -fx-alignment: "javafx.geometry.Pos.CENTER";*/
/*    -fx-border-color: lightgray;*/
/*}*/

.count {
    -fx-translate-y: -40px;
}

.minusBtn, .plusBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-width: 30;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
}

.ticketSelection{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-pref-width: 80;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-pref-height: 200;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
}

/* 달력 */
#calender{
    -fx-spacing: 0;
    -fx-pref-width: 400;
}

/* 시간 버튼들이 있는 곳 */
#timeArea{
    -fx-spacing: 20;
}

/* 달력 월 표시 */
.calenderHead{
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-translate-y: -50px;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-padding: 0 5 0 0;
}

.calenderHeader{
    -fx-spacing: 10;
    -fx-translate-y: -60px;
}

/* 일요일 글자 */
.sundayLabel{
    -fx-text-fill: red;
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
}

.dayLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-background-color: white;
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
}

/* 토요일 글자 */
.saturdayLabel{
    -fx-text-fill: blue;
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
}

.dayNum {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-background-color: white;
    -fx-pref-height: 50;
    -fx-pref-width: 10;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
}

/* 지정 불가능한 날짜 */
.disabled{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
}

/* 선택된 날짜 */
.selected{
    -fx-background-color: #bf9dfc;
}

/* 시간버튼 */
.timeButton{
    -fx-background-color: #bf9dfc;
    -fx-pref-height: 30;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

/* 지정 불가능한 시간버튼 */
.disabledTimeButton{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
}

/* 선택된 시간버튼 */
.selectedTimeButton{
    -fx-background-color: #e24bff;
}

/* 달력 페이지 넘기는 버튼 활성화 */
.clickable{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-pref-width: 40;
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-pref-height: 40;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
}

/* 달력 페이지 넘기는 버튼 비활성화 */
.unclickable{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
    -fx-pref-width: 40;
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-pref-height: 40;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
}

.timeStamp {
    -fx-pref-height: 400;
    -fx-pref-width: 400;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -fx-translate-y: -50px;
}

/* 선택한 예약 목록이 있는 곳 */

.selectedReservationArea {
    -fx-translate-y: -40px;
}

.selectBtn {
    -fx-font-size: 20px;
    -fx-translate-y: -35px;
}