/* DatePicker 배경색 통일 시켜줘~~~~~~ */

Label {
    -fx-font-size: 32;
    -fx-font-family: "Jua";
}
/* TextField */
.reservationInfo_numInput, .reservationInfo_nameInput, .reservationInfo_phoneInput,
.reservationInfo_timeInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* DatePicker */
.reservationInfo_DatePicker {
    -fx-background-color: #F4F5F7;
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

.reservationInfo_choseCol {
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
}

.reservationInfo_numCol, .reservationInfo_nameCol, .reservationInfo_phoneCol,
.reservationInfo_rDateCol, .reservationInfo_rTimeCol {
    -fx-font-family: "Jua";
}

.reservationInfo_numCol {
    -fx-pref-width: 90;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationInfo_nameCol {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationInfo_phoneCol {
    -fx-pref-width: 180;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationInfo_rDateCol {
    -fx-pref-width: 160;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationInfo_rTimeCol {
    -fx-pref-width: 130;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}


/* ============== Button ============== */

.reservationInfo_Btn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
}

.reservationInfo_logoutBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
}

.reservationInfo_Search_Btn {
    -fx-spacing: 50;
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
}

.reservationInfo_Cancel_Btn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-color: transparent;
    -fx-translate-x: -20;
    -fx-translate-y: 5;
}

.reservationInfo_Btn:hover, .reservationInfo_logoutBtn:hover {
    -fx-background-color: #EA8ABE;
    -fx-cursor: hand;
}

.reservationInfo_Search_Btn:hover, .reservationInfo_Cancel_Btn:hover {
    -fx-background-color: #EA8ABE;
    -fx-cursor: hand;
}



.rInfo {
    -fx-translate-y: 10;
}


/* TableView 헤더 스타일 */
.table-view .column-header-background .label {
    -fx-background-color: #9747FF;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* 헤더 배경색 변경 */
.table-view .column-header {
    -fx-background-color: #9747FF;
}

/* 헤더의 테두리 변경 */
.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent transparent #9747FF transparent;
    -fx-border-width: 0 0 2 0;
}

/* 컬럼 헤더들 사이의 경계선 추가 */
.table-view .column-header {
    -fx-border-color: transparent transparent #FFFFFF #FFFFFF; /* 아래쪽과 오른쪽 경계선 색상 설정 */
    -fx-border-width: 0 0 2 1; /* 아래쪽 경계선 두께 2, 오른쪽 경계선 두께 1 */
}

/* 화살표 버튼 배경색 변경 */
.table-view .column-header .arrow-button {
    -fx-background-color: #9747FF; /* 화살표 버튼 배경색도 헤더 배경색과 동일하게 설정 */
}

/* 정렬 화살표 스타일 */
.table-view .column-header .arrow {
    -fx-background-color: #ffffff; /* 화살표 색상 변경 */
}

/* 오름차순 화살표 스타일 */
.table-view .column-header .arrow-button .arrow {
    -fx-shape: "M0,0 L1,0 L0.5,1 Z"; /* 오름차순 화살표 모양 */
}

/* 내림차순 화살표 스타일 */
.table-view .column-header:descending .arrow-button .arrow {
    -fx-shape: "M0,1 L1,1 L0.5,0 Z"; /* 내림차순 화살표 모양 */
}