SplitPane {
    -fx-background-color: #FFFFFF;
}

.reservationDetail_Title_1, .reservationDetail_Title_2 {
    -fx-font-size: 32;
    -fx-font-family: "Jua";
}

/* DatePicker */
.reservationDetail_DatePicker, .reservationDetail_timeComboBox {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

.reservationDetail_DatePicker .text-field {
    -fx-background-color: #F4F5F7;
}


.reservationDetail_DatePicker .arrow-button {
    -fx-background-color: #DABDFF;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.reservationDetail_DatePicker .arrow-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #C4A3FF;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.reservationDetail_DatePicker .arrow {
    -fx-background-color: #FFFFFF;
}

/* ComboBox */
.reservationDetail_timeComboBox .text-field {
    -fx-background-color: #F4F5F7;
}

.reservationDetail_timeComboBox .arrow-button {
    -fx-background-color: #DABDFF;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.reservationDetail_timeComboBox .arrow-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #C4A3FF;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.reservationDetail_timeComboBox .arrow {
    -fx-background-color: #FFFFFF;
}

/* ComboBox - List Cell */
.reservationDetail_timeComboBox .combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.reservationDetail_timeComboBox .combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #C4A3FF;
    -fx-text-fill: white;
}

.reservationDetail_timeComboBox .combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #DABDFF;
    -fx-text-fill: white;
}

.reservationDetail_label_1, .reservationDetail_label_2 {
    -fx-font-size: 18;
    -fx-font-family: "NanumGothic";
}

.reservationDetail_UpdateBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Jua";
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.reservationDetail_goBackBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Jua";
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.reservationDetail_UpdateBtn:hover, .reservationDetail_goBackBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.reservationDetail_numCol, .reservationDetail_nameCol, .reservationDetail_phoneCol,
.reservationDetail_dayCol, .reservationDetail_timeCol {
    -fx-font-family: "NanumGothic";
}

.reservationDetail_numCol, .reservationDetail_nameCol, .reservationDetail_timeCol {
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationDetail_phoneCol {
    -fx-pref-width: 130;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.reservationDetail_UpdateBtn, .reservationDetail_goBackBtnBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-font-family: "Jua";
}

.reservationDetail_UpdateBtn:hover, .reservationDetail_goBackBtnBtn:hover {
    -fx-background-color: #F4B6FF;
}

.reservationDetail_text {
    -fx-font-size: 20px;
    -fx-font-family: "Jua";
}

.rDetail_Btn {
    -fx-translate-y: 10;
}

.gridPane_label {
    -fx-text-fill: #9747FF;
    -fx-font-family: "Jua";
}

.gridPane_value, .gridPane_label {
    -fx-font-size: 20px;
    -fx-font-family: "Jua";
}

/* SplitPane */
.split-pane-divider {
    -fx-background-color: #C4A3FF; /* 분할선의 색상 변경 */
    -fx-border-color: transparent; /* 분할선의 테두리 색상 변경 */
    -fx-padding: 0.5; /* 분할선의 너비 변경 */
}
