/* jihun */

/* Label 스타일 */
Label {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-background-color: white;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-alignment: "javafx.geometry.Pos.CENTER";
    -fx-border-color: lightgray;
}

HBox{
    -fx-spacing: 0;
}

/* 시간 버튼들이 있는 곳 */
#timeArea{
    -fx-spacing: 20;
}

/* 달력 */
#calender{
    -fx-spacing: 0;
}

/* 달력 월 표시 */
.calenderHead{
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.calenderHeader{
    -fx-spacing: 10;
}

/* 일요일 글자 */
.sundayLabel{
    -fx-text-fill: red;
}

/* 토요일 글자 */
.saturdayLabel{
    -fx-text-fill: blue;
}

/* 지정 불가능한 날짜 */
.disabled{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
}

/* 선택된 날짜 */
.selected{
    -fx-border-color: violet;
}

/* 시간버튼 */
.timeButton{
    -fx-background-color: white;
    -fx-border-color: violet;
    -fx-pref-height: 30;
}

/* 지정 불가능한 시간버튼 */
.disabledTimeButton{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
}

/* 선택된 시간버튼 */
.selectedTimeButton{
    -fx-background-color: violet;
}

/* 달력 페이지 넘기는 버튼 활성화 */
.clickable{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-pref-width: 100;
}

/* 달력 페이지 넘기는 버튼 비활성화 */
.unclickable{
    -fx-background-color: gray;
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
    -fx-pref-width: 100;
}