/* 전체 VBox 스타일 */
AnchorPane {
    -fx-background-color: #ffffff; /* 배경색 지정 */
}

TextField, PasswordField {
    -fx-font-size: 17px; /* 폰트 크기 지정 */
    -fx-background-color: #F4F5F7; /* 배경색 지정 */
    -fx-border-color: transparent; /* 테두리 색상 지정 */
    -fx-border-width: 1px; /* 테두리 두께 지정 */
    -fx-border-radius: 5px; /* 테두리 모서리 반지름 지정 */
    -fx-prompt-text-fill: #999999; /* 프롬프트 텍스트 색상 지정 */
    -fx-pref-height: 150px;
    -fx-pref-width: 310px;

}

Button {
    -fx-background-color: #9747FF; /* 배경색 지정 */
    -fx-pref-width: 120px; /* 너비 지정 */
    -fx-pref-height: 140px; /* 높이 지정 */
    -fx-font-size: 18px; /* 폰트 크기 지정 */
    -fx-text-fill: #ffffff; /* 텍스트 색상 지정 */
    -fx-border-color: transparent; /* 테두리 색상 투명으로 설정 */
    -fx-border-radius: 5px; /* 테두리 모서리 반지름 지정 */
}

Button:hover {
    -fx-background-color: #EA8ABE; /* 호버 시 배경색 변경 */
}

#emailIdField {
    -fx-pref-width: 200px; /* 너비 지정 */
    -fx-pref-height: 130px; /* 높이 지정 */
}

#genderId {
    -fx-font-size: 20px;
}

#atSign {
    -fx-font-size: 20px;
}

#emailDomainField {
    -fx-pref-width: 200px; /* 너비 지정 */
    -fx-pref-height: 130px; /* 높이 지정 */
}