/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF;
}

.container {
    -fx-background-color: #D9D9D9; /* 추후 제거 */
}

/* Title */
.signup_title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

/* TextField */
.SignUp_nameInput, .SignUp_phoneInput, .SignUp_passwordInput, .SignUp_birthInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

.SignUp_emailInput, .SignUp_emailComboBox {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* Button */
.SignUp_page_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
}

.SignUp_page_TopBtn {
    -fx-font-family: "Jua";
}

.SignUp_addMemberBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.SignUp_addMemberBtn:hover {
    -fx-background-color: #EA8ABE;
}

.SignUp_addMemberBtn:pressed {
    -fx-background-color: #EA8ABE;
}

.SignUp_loginBtn {
    -fx-background-color: #CCCCCC;
    -fx-text-fill: #000000;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-pref-height: 30;
    -fx-pref-width: 80;
    -fx-font-size: 13;
}

.SignUp_loginBtn:hover {
    -fx-background-color: #999999;
}

.SignUp_loginBtn:pressed {
    -fx-background-color: #999999;
}

/* Radio Button */
.SingUp_sex_radioBtn_title, .SignUp_atSign {
    -fx-font-family: "Jua";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.SingUp_sex_radioBtn_1, .SingUp_sex_radioBtn_2 {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

/* Password Field Error */
.password-field-error {
    -fx-border-color: red;
    -fx-border-width: 1;
}