/* VBox */
AnchorPane {
    -fx-background-color: #FFFFFF;
}

/* Title */
.signup_title_label {
    -fx-font-size: 72;
    -fx-font-family: "Anton";
}

/* TextField */
.SignUp_nameInput, .SignUp_phoneInput, .SignUp_CertificationNumInput, .SignUp_passwordInput, .SignUp_birthInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

.SignUp_emailInput, .SignUp_emailComboBox {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* Button */
.SignUp_page_Btn {
    -fx-font-family: "Jua";
    -fx-spacing: 50;
}

.SignUp_page_TopBtn, .SignUp_Phone, .SignUp_CertificationNum {
    -fx-font-family: "Jua";
}

.SignUp_page_TopBtn {
    -fx-padding: 10 10 0 0;
}

.SignUp_addMemberBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.SignUp_addMemberBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.SignUp_addMemberBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.SignUp_loginBtn {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.SignUp_loginBtn:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0, 0, 0);
}

.SignUp_SendBtn, .SignUp_CheckBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-pref-width: 50;
    -fx-pref-height: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.SignUp_SendBtn:hover, .SignUp_CheckBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.SignUp_SendBtn:pressed, .SignUp_CheckBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

/* Radio Button */
.SingUp_sex_radioBtn_title, .SignUp_atSign {
    -fx-font-family: "Jua";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.SingUp_sex_radioBtn_1, .SingUp_sex_radioBtn_2 {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

/* Password Field Error */
.password-field-error {
    -fx-border-color: red;
    -fx-border-width: 1;
}

/* Phone & CertificationNum 위치 조정 */
.SignUp_Phone, .SignUp_CertificationNum {
    -fx-translate-x: 35;
}
