/* Tab */
.tab .tab-label {
    -fx-text-fill: white;
}

/* 선택된 Tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected,
.tab-pane .tab:selected {
    -fx-font-family: "Jua";
    -fx-font-size: 16;
    -fx-background-color: #9747FF;
    -fx-border-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* 선택된 Tab Hover */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected:hover,
.tab-pane .tab:selected:hover {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE transparent #EA8ABE;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5;
}

/* 선택되지 않은 Tab */
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-font-family: "Jua";
    -fx-font-size: 16;
    -fx-background-color: #BAA6FF;
    -fx-border-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* 선택되지 않은 Tab Hover */
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #F4B6FF;
    -fx-border-color: #EA8ABE #EA8ABE transparent #EA8ABE;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5;
}

.memberInfo_Tab, .trainerInfo_Tab {
    -fx-font-family: "Jua";
    -fx-pref-width: 178px;
    -fx-pref-height: 30px;
    -fx-text-fill: #FFFFFF;
}

/* VBox */
SplitPane {
    -fx-background-color: #FFFFFF;
}

/* SplitPane */
.split-pane-divider {
    -fx-background-color: #C4A3FF; /* 분할선의 색상 변경 */
    -fx-border-color: transparent; /* 분할선의 테두리 색상 변경 */
    -fx-padding: 0.5px; /* 분할선의 너비 변경 */
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: #C4A3FF;
}

.scroll-bar:vertical {
    -fx-pref-width: 7px;
}

.scrol-bar:horizontal {
    -fx-pref-width: 7px;
}

.scroll-bar .thumb {
    -fx-background-color: #DABDFF;
    -fx-background-insets: 2, 2, 2;
    -fx-background-radius: 5;
}

.scroll-bar .track {
    -fx-background-color: #C4A3FF;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #DABDFF;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #FFFFFF;
}

/* Title */
.trainerInfo_title_1, .trainerInfo_title_2 {
    -fx-font-size: 36;
    -fx-font-family: "Jua";
}

/* ImageView */
.trainerInfo_ImageContainer {
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

/* TextField */
.trainerInfo_nameInput, .trainerInfo_idInput, .trainerInfo_phoneInput,
.trainerInfo_heightInput, .trainerInfo_weightInput, .trainerInfo_birthInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 250;
    -fx-pref-height: 40;
    -fx-font-size: 16;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

/* Button */
.trainerInfo_ImageBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-pref-width: 70;
    -fx-pref-height: 20;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_Btn {
    -fx-spacing: 50;
    -fx-font-family: "Jua";
}

.trainerInfo_addTrainerBtn {
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_goBackBtn {
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18;
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_ImageBtn:hover, .trainerInfo_addTrainerBtn:hover, .trainerInfo_goBackBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.trainerInfo_ImageBtn:pressed, .trainerInfo_addTrainerBtn:pressed, .trainerInfo_goBackBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

/* Radio Button */
.trainerInfo_sex_radioBtn_title, .trainerInfo_worktime_radioBtn_title {
    -fx-font-family: "Jua";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/* Sex radio Button */
.trainerInfo_sex_radioBtn_1, .trainerInfo_sex_radioBtn_2 {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/* Radio Button Non-selected 상태 색상 변경 */
.trainerInfo_sex_radioBtn_1 .radio,
.trainerInfo_sex_radioBtn_2 .radio {
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.trainerInfo_sex_radioBtn_1 .radio:hover,
.trainerInfo_sex_radioBtn_2 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.trainerInfo_sex_radioBtn_1:selected .radio,
.trainerInfo_sex_radioBtn_2:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.trainerInfo_sex_radioBtn_1:selected .radio:hover,
.trainerInfo_sex_radioBtn_2:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.trainerInfo_sex_radioBtn_1:selected .dot,
.trainerInfo_sex_radioBtn_2:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* Worktime radio Button */
.trainerInfo_worktime_radioBtn_1, .trainerInfo_worktime_radioBtn_2 {
    -fx-font-family: "NanumGothic";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/* Radio Button Non-selected 상태 색상 변경 */
.trainerInfo_worktime_radioBtn_1 .radio,
.trainerInfo_worktime_radioBtn_2 .radio {
    -fx-background-color: #DABDFF;
}

/* Radio Button Non-selected Hover 상태 색상 변경 */
.trainerInfo_worktime_radioBtn_1 .radio:hover,
.trainerInfo_worktime_radioBtn_2 .radio:hover {
    -fx-background-color: #C4A3FF;
}

/* Radio Button Selected 상태 색상 변경 */
.trainerInfo_worktime_radioBtn_1:selected .radio,
.trainerInfo_worktime_radioBtn_2:selected .radio {
    -fx-background-color: #F4B6FF;
}

/* Radio Button Selected Hover 상태 색상 변경 */
.trainerInfo_worktime_radioBtn_1:selected .radio:hover,
.trainerInfo_worktime_radioBtn_2:selected .radio:hover {
    -fx-background-color: #E868FF;
}

/* Radio Button Dot 색상 변경 */
.trainerInfo_worktime_radioBtn_1:selected .dot,
.trainerInfo_worktime_radioBtn_2:selected .dot {
    -fx-background-color: #FFFFFF;
}

/* Table */
.trainerInfo_AMPMBtn {
    -fx-padding: 0 25 5 0;
    -fx-translate-x: -195;
}

.trainerInfo_AMBtn, .trainerInfo_PMBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_AMBtn:hover, .trainerInfo_PMBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.trainerInfo_refreshBox {
    -fx-padding: 0 25 5 0;
}

.trainerInfo_refreshBtn {
    /*-fx-font-family: "Jua";*/
    /*-fx-background-color: #DE14FF;*/
    /*-fx-text-fill: #FFFFFF;*/
    /*-fx-font-size: 16;*/
    /*-fx-pref-width: 80;*/
    /*-fx-pref-height: 30;*/
    /*-fx-border-color: transparent;*/
    /*-fx-border-radius: 5;*/
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.trainerInfo_refreshBtn:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
}

.trainerInfo_searchBox {
    -fx-padding: 0 15 10 0;
}

.trainerInfo_deleteBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #DE14FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_deleteBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.trainerInfo_SearchIcon {
    -fx-background-color: #FFFFFF;
    -fx-translate-x: 15;
}

.trainerInfo_SearchIcon:hover {
    -fx-cursor: hand;
}

.trainerInfo_searchInput {
    -fx-font-family: "NanumGothic";
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-font-size: 14;
    -fx-background-color: #F4F5F7;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #999999;
}

.trainerInfo_searchBtn {
    -fx-font-family: "Jua";
    -fx-background-color: #9747FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

.trainerInfo_searchBtn:hover {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.trainerInfo_searchBtn:pressed {
    -fx-background-color: #F4B6FF;
    -fx-cursor: hand;
}

.trainerInfo_numColumn, .trainerInfo_nameColumn, .trainerInfo_idColumn,
.trainerInfo_genderColumn, .trainerInfo_birthColumn, .trainerInfo_workTimeColumn,
.trainerInfo_phoneColumn, .trainerInfo_chooseColumn {
    -fx-font-family: "Jua";
}

.trainerInfo_chooseColumn {
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
}

.trainerInfo_numColumn {
    -fx-pref-width: 69;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_nameColumn {
    -fx-pref-width: 90;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_genderColumn {
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_workTimeColumn {
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_idColumn {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_birthColumn {
    -fx-pref-width: 140;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

.trainerInfo_phoneColumn {
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}

/* TableView 헤더 스타일 */
.table-view .column-header-background .label {
    -fx-background-color: #9747FF;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

/* 헤더 배경색 변경 */
.table-view .column-header {
    -fx-background-color: #9747FF;
}

/* 헤더의 테두리 변경 */
.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent transparent #9747FF transparent;
    -fx-border-width: 0 0 2 0;
}

/* 컬럼 헤더들 사이의 경계선 추가 */
.table-view .column-header {
    -fx-border-color: transparent transparent #FFFFFF #FFFFFF; /* 아래쪽과 오른쪽 경계선 색상 설정 */
    -fx-border-width: 0 0 2 1; /* 아래쪽 경계선 두께 2, 오른쪽 경계선 두께 1 */
}

/* 화살표 버튼 배경색 변경 */
.table-view .column-header .arrow-button {
    -fx-background-color: #9747FF; /* 화살표 버튼 배경색도 헤더 배경색과 동일하게 설정 */
}

/* 정렬 화살표 스타일 */
.table-view .column-header .arrow {
    -fx-background-color: #ffffff; /* 화살표 색상 변경 */
}

/* 오름차순 화살표 스타일 */
.table-view .column-header .arrow-button .arrow {
    -fx-shape: "M0,0 L1,0 L0.5,1 Z"; /* 오름차순 화살표 모양 */
}

/* 내림차순 화살표 스타일 */
.table-view .column-header:descending .arrow-button .arrow {
    -fx-shape: "M0,1 L1,1 L0.5,0 Z"; /* 내림차순 화살표 모양 */
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: #DABDFF;
    -fx-table-cell-border-color: transparent;
}

.table-view .placeholder {
    -fx-font-size: 20;
    -fx-font-family: "Jua";
    -fx-text-fill: #000000;
}

.table-row-cell:selected .check-box > .box {
    -fx-background-color: #FFFFFF;
}

.check-box:selected .mark {
    -fx-background-color: #9747FF;
}
.trainerInfo_subBtn {
    -fx-padding: 10 15 0 0;
}

